{% extends 'main/base.html' %}

{% block content %}
<div>
    <div class="index-row">
        <div id="earned-spent" class="card transactions-card-right">
            <h3>Earned / Spent</h3>
            <div id="earned-spent-data">
                <div id="totals">
                    <p>Total Earned: R${{ total_earned }}</p>
                    <p>Total Spent: R$-{{ total_spent }}</p>
                </div>
                <div>
                    {% for expense in expenses_by_category %}
                    <div id="expense-by-category">
                        <p>{{ expense.category }}</p>
                        <p>{{ expense.sum }}</p>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div id="budget-card" class="card">
            <div class="index-header">
                <h3>Budgets</h3>
                <a href="{% url 'budget' %}" class="button-link">Update</a>
            </div>

            <div id="budgets">
                {% for budget in budgets %}
                <div class="budgets-data">
                    <p class="budget-title">{{ budget.category.get_category_display }}</p>
                    <p>{{ budget.percentage }}%</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="index-row">
        <div class="transactions-card card transactions-card-right">
            <div class="index-header">
                <h3>Revenues</h3>
                <a href="{% url 'revenue' %}" class="button-link">Add</a>
            </div>

            <ul>
                {% for revenue in revenues %}
                <li class="transaction-item">
                    <div>
                        <h5>{{ revenue.title }}</h5>
                        <p>{{ revenue.date }}</p>

                    </div>
                    <div>
                        <p>R${{ revenue.value }}</p>
                        <p>{{ revenue.get_category_display }}</p>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>

        <div class="transactions-card card transactions-card-left">
            <div class="index-header">
                <h3>Expenses</h3>
                <a href="{% url 'expense' %}" class="button-link">Add</a>
            </div>

            <ul>
                {% for expense in expenses %}
                <li class="transaction-item">
                    <div>
                        <h5>{{ expense.title }}</h5>
                        <p>{{ expense.date }}</p>
                    </div>
                    <div>
                        <p>R${{ expense.value }}</p>
                        <p>{{ expense.category.get_category_display }}</p>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}