{% extends 'main/base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div>
    <a href="{% url 'logout' %}">Logout</a>

    <form>
        <h3>Budgets</h3>

        {% for budget in budgets %}
        <div>
            <p>{{ budget.category.get_category_display }}</p>
            <p>{{ budget.percentage }}</p>
        </div>
        {% endfor %}
    </form>

    <div>
        <div>
            <div>
                <h3>Revenues</h3>

                <button>
                    <a href="{% url 'revenue' %}">Add</a>
                </button>
            </div>

            {% for revenue in revenues %}
            <div>
                <p>{{ revenue.title }}</p>
                <p>{{ revenue.value }}</p>
                <p>{{ revenue.date }}</p>
                <p>{{ revenue.description }}</p>
                <p>{{ revenue.get_category_display }}</p>
            </div>
            {% endfor %}
        </div>

        <div>
            <div>
                <h3>Expenses</h3>

                <button>
                    <a href="{% url 'expense' %}">Add</a>
                </button>
            </div>

            {% for expense in expenses %}
            <div>
                <p>{{ expense.title }}</p>
                <p>{{ expense.value }}</p>
                <p>{{ expense.date }}</p>
                <p>{{ expense.description }}</p>
                <p>{{ expense.get_category_display }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}