{% extends 'main/base.html' %}

{% block content %}
<div>
    <form id="budget-card" class="card">
        <h3>Budgets</h3>

        <div>
            {% for budget in budgets %}
            <div>
                <p>{{ budget.category.get_category_display }}</p>
                <p>{{ budget.percentage }}</p>
            </div>
            {% endfor %}
        </div>
    </form>

    <div id="transactions-row">
        <div class="transactions-card card transactions-card-right">
            <div class="transactions-header">
                <h3>Revenues</h3>
                <a href="{% url 'revenue' %}" class="button-link">Add</a>
            </div>

            {% for revenue in revenues %}
            <div>
                <p>{{ revenue.title }}</p>
                <p>{{ revenue.value }}</p>
                <p>{{ revenue.date }}</p>
                <p>{{ revenue.description }}</p>
                <p>{{ revenue.get_category_display }}</p>
            </div>
            {% endfor %}
        </div>

        <div class="transactions-card card transactions-card-left">
            <div class="transactions-header">
                <h3>Expenses</h3>
                <a href="{% url 'expense' %}" class="button-link">Add</a>
            </div>

            {% for expense in expenses %}
            <div>
                <p>{{ expense.title }}</p>
                <p>{{ expense.value }}</p>
                <p>{{ expense.date }}</p>
                <p>{{ expense.description }}</p>
                <p>{{ expense.get_category_display }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}