{% extends 'main/base.html' %}

{% block content %}
<div id="revenue-card" class="card">
    <header id="revenue-header">
        <h2>Add new revenue</h2>
    </header>
    <div>
        <form action="/revenue" method="post">
            {% csrf_token %}

            <div class="two-columns-input">
                <div class="form-field">
                    {{ form.title.label_tag }}
                    {{ form.title }}
                </div>
                <div class="form-field">
                    {{ form.value.label_tag }}
                    {{ form.value }}
                </div>
            </div>
            <div class="two-columns-input">
                <div class="form-field">
                    {{ form.date.label_tag }}
                    <div class="form-date-selector">
                        {{ form.date }}
                    </div>
                </div>
                <div class="form-field">
                    {{ form.category.label_tag }}
                    <div class="form-option-selector">
                        {{ form.category }}
                    </div>
                </div>
            </div>
            <div class="form-field">
                {{ form.description.label_tag }}
                {{ form.description }}
            </div>
            <div class="form-buttons">
                <input class="button" type="submit" value="Add">
                <a href="{% url 'index' %}" class="button-link cancel-button">Cancel</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}