.button {
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid #FFF;
}

.button-link {
    padding: 9px 18px;

    text-align: center;
    text-decoration: none;

    background-color: #FFF;
    border: 1px solid #FFF;
    border-radius: 5px;
}

.cancel-button {
    color: var(--text-color);
    background-color: var(--primary-color);
}