.card {
    background-color: var(--secondary-color);
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.header-card {
    margin: 1rem 2rem 1rem 2rem;
    padding: 2rem;
}