#budget-card {
    padding: 1rem;
    margin: 1rem 1rem 1rem .5rem;

    .budgets-data {
        display: flex;
        justify-content: space-between;
        gap: 10px;
        align-items: center;

        .budget-title {
            font-weight: bold;
            text-transform: uppercase;
        }
    }
}

#earned-spent {
    padding: 1rem;
    margin: 1rem .5rem 1rem 1rem;
    flex-grow: 1;

    #earned-spent-data {
        display: flex;
    }

    #expense-by-category {
        display: flex;
        gap: 2rem;
    }

    #totals {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin-right: 10rem;
    }
}

.index-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.index-row {
    display: flex;
    justify-content: space-between;
}

.transactions-card {
    padding: 1rem;
    flex-grow: 1;
}

.transactions-card-right {
    margin-left: 1rem;
    margin-right: .5rem;
}

.transactions-card-left {
    margin-right: 1rem;
    margin-left: .5rem;
}

.transaction-item {
    padding: 1rem;
    margin: 3px;
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 1px solid white;
    border-radius: 10px;

    div {
        display: flex;
        justify-content: space-around;
        margin: 5px;
    }
}

h5 {
    font-weight: bold;
}
